<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit &ndash; &laquo;[[${product.title}]]&raquo; </title>
</head>
<body>
  <a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; Back to [[${product.title}]] product page</a>
  <h1>Edit &ndash; [[${product.title}]] product</h1>
  <form method="post" data-th-action="@{/catalogue/products/{productId}/edit_product(productId=${product.id})}">
      <label>
          Title
          <br>
          <input type="text" name="title" data-th-value="${product.title}">
      </label><br>
      <label>
          Description
          <br>
          <textarea name="details" data-th-text="${product.details}"></textarea>
      </label><br>
      <button type="submit">Update product</button>
  </form>
</body>
</html>