<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product &ndash; [[${product.title}]]</title>
</head>
<body>
    <h1>Product page</h1>
    <h3 style="font-style: italic; font-weight: bold; color:#694C00" data-th-text="'&#10149; ' + ${product.title}"></h3>
    <a data-th-href="@{/catalogue/products/list}">&larr; Back to list of products</a>
    <br><br>
    <div th:if="${product != null}">
        <p><strong>Title:</strong> <span th:text="${product.title}"></span></p>
        <p><strong>Details:</strong> <span th:text="${product.details}"></span></p>
    </div>

    <div th:unless="${product != null}">
        <p>Product not found.</p>
    </div>
</body>
</html>